#halloweenCanvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
a{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background: url(dark-abstract-black-minimal-4k-q0-2880x1800.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    align-items: center;
    height: 90vh;
    transition:all .5s;
}
.btn1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    width: 450px;
    margin-right: 1%;
    height: 140px;
    border-radius: 50px;
    background: transparent;
    color: rgb(235, 235, 235);
    text-shadow:
    0 0 3px rgb(39, 0, 0),
    0 0 5px rgb(255, 255, 255);
    border: solid 1px rgb(61, 61, 61);
    box-shadow: 
    0 0 10px rgb(61, 61, 61),
    inset 20px 20px 10px rgb(61, 61, 61),
    0 0 15px rgb(61, 61, 61);
    cursor: pointer;
    transition: all .9s;
}
.btn1:hover{
    box-shadow: 
    0 0 10px rgb(61, 61, 61),
    inset -20px -20px 10px rgb(61, 61, 61),
    0 0 15px rgb(61, 61, 61);    
    transform: scale(1.1);
}
.btn1:active{
    box-shadow: 
    0 0 10px rgb(61, 61, 61),
    inset -20px -20px 10px rgb(61, 61, 61),
    0 0 15px rgb(61, 61, 61);    
    transform: scale(1.3);
}
.btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 26px;
    width: 450px;
    margin-left: 5%;
    height: 140px;
    border-radius: 50px;
    background: transparent;
    color: rgb(223, 223, 223);
    text-shadow:
    0 0 3px rgb(39, 0, 0),
    0 0 5px rgb(255, 255, 255);
    border: solid 1px rgb(61, 61, 61);
    box-shadow: 
    0 0 10px rgb(61, 61, 61),
    inset 20px 20px 10px rgb(61, 61, 61),
    0 0 15px rgb(61, 61, 61);
    cursor: pointer;
    transition: all .9s;
}
.btn2:hover{
    box-shadow: 
    0 0 10px rgb(61, 61, 61),
    inset -20px -20px 10px rgb(61, 61, 61),
    0 0 15px rgb(61, 61, 61);    
    transform: scale(1.1);
}
.btn2:active{
    box-shadow: 
    0 0 10px rgb(61, 61, 61),
    inset -20px -20px 10px rgb(61, 61, 61),
    0 0 15px rgb(61, 61, 61);    
    transform: scale(1.3);
}
@media (max-width: 1100px){
    .btn{
        top: 56%;
        left: 22%;
        position: absolute;
        margin-left: 2%;
        font-size: 26px;
        width: 450px;
        margin-left: 5%;
        height: 140px;
        border-radius: 50px;
        background: transparent;
        color: rgb(223, 223, 223);
        text-shadow:
        0 0 3px rgb(39, 0, 0),
        0 0 5px rgb(255, 255, 255);
        border: solid 1px rgb(61, 61, 61);
        box-shadow: 
        0 0 10px rgb(61, 61, 61),
        inset 20px 20px 10px rgb(61, 61, 61),
        0 0 15px rgb(61, 61, 61);
        cursor: pointer;
        transition: all .9s;
    }
}
.dark{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background: linear-gradient(180deg, #777, #3a3a3a);
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    box-shadow: 
    0 0 5px #a1a1a1,
    inset 0 0 10px #777,
    0 0 20px #777,
    inset 0 0 40px #777,
    0 0 80px #777,
    0 0 160px #777;
    animation:anim infinite 4s ;
}
@keyframes anim{
    0%{
        transform: scale(85%);
    }
    50%{
        transform: scale(100%);
    }
    100%{
        transform: scale(85%);
    }
}
input{
    position: absolute;
    top: 0;
}
label{
    width: 300PX;
        height: 200px;
        background: black;
}
.cloack{
    background: transparent;
    position: absolute;
    top: 5px;
    right: 5px;
    float: left;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border: 8px solid rgb(121, 121, 121);
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 
    0 0 10px rgb(170, 170, 170),
    inset 0 0 7px rgb(170, 170, 170),
    0 0 15px rgb(170, 170, 170);
  }
  
  .wing1{  
    position: absolute;
    border-radius: 25%;
    background: rgb(170, 170, 170);
    height: 130px;
    width: 13px;
    border-left: 10px solid rgb(124, 122, 122);
    animation: animate 9s linear infinite;
    box-shadow: 
    0 0 5px grey,
    0 0 8px grey,
    0 0 4px grey;
  }
  .wing2{
    position: absolute;
    border-radius: 25%;
    background: rgb(170, 170, 170);
    height: 130px;
    width: 13px;
    border-left: 10px solid rgb(124, 122, 122);
    animation: animates 8s linear infinite;
  }
  @keyframes animate{
    0%{
      transform: rotate(120deg);
    }
    100%{
      transform: rotate(3000deg);
    }
  } 
  @keyframes animates{
    0%{
      transform: rotate(120deg);
    }
    100%{
      transform: rotate(300deg);
    }
  }
  .btn3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    width: 450px;
    margin-left: 2%;
    margin-right: 2%;
    height: 140px;
    border-radius: 50px;
    background: transparent;
    color: rgb(235, 235, 235);
    text-shadow:
    0 0 3px rgb(39, 0, 0),
    0 0 5px rgb(255, 255, 255);
    border: solid 1px rgb(61, 61, 61);
    box-shadow: 
    0 0 10px rgb(61, 61, 61),
    inset 20px 20px 10px rgb(61, 61, 61),
    0 0 15px rgb(61, 61, 61);
    cursor: pointer;
    transition: all .9s;
}
.btn3:hover{
    box-shadow: 
    0 0 10px rgb(61, 61, 61),
    inset -20px -20px 10px rgb(61, 61, 61),
    0 0 15px rgb(61, 61, 61);    
    transform: scale(1.1);
}
.btn3:active{
    box-shadow: 
    0 0 10px rgb(61, 61, 61),
    inset -20px -20px 10px rgb(61, 61, 61),
    0 0 15px rgb(61, 61, 61);    
    transform: scale(1.3);

}
